<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TigerTix: @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/Layout.css"/>
        @RenderSection("Styles", false)
    </head>
    
    <body>
    	<header>
            <a href="#default" class="logo">
                <img src="~/TigerTix.png" alt="Event Image" width="80" height="40">
            </a>
            <div class="header-right">
                @Html.ActionLink("Buy Tickets", "BuyTickets", "App", null, new { @class = "active" })
                @Html.ActionLink("Contact", "Contact", "App", null)
                @Html.ActionLink("Account", "Login", "App", null)
            </div>
      	</header>
        <div class="container">
            <main>
                @RenderBody()
            </main>
        </div>
    </body>
</html>