@model IEnumerable<TigerTix.Web.Models.LoginDBModel>

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/Users.css"/>
}

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="user-table">
    <tr class="user-row">
        <th class="user-column">UserID</th>
        <th class="user-column">Username</th>
        <th class="user-column">CUID</th>
        <th class="user-column">Date of Birth</th>
        <th class="user-column">Email</th>
        <th class="user-column">Join Date</th>
    </tr>
    
    @foreach (var user in Model)
    {
        <tr class="user-row">
            <th class="user-column">@user.UserID</th>
            <th class="user-column">@user.Username</th>
            <th class="user-column">@user.UserCUID</th>
            <th class="user-column">@user.UserDOB</th>
            <th class="user-column">@user.UserEmail</th>
            <th class="user-column">@user.UserJoinDate</th>
        </tr>
    }
</table>